/Esperanto/Esperanto/bin
/Esperanto/Esperanto/obj

/Esperanto/Esperanto.Android/bin
/Esperanto/Esperanto.Android/obj

/Esperanto/Esperanto.iOS/bin
/Esperanto/Esperanto.iOS/obj

/Esperanto/Esperanto.UWP/bin
/Esperanto/Esperanto.UWP/obj